@import "../../sass/function";
@import "../../sass/var";

.headphonesPrice {
  img {
    width: 4.5rem;
    border-radius: 0.5rem;
    margin-right: 1rem;
  }
  display: flex;
  align-items: center;
  .prodTitle {
    font-weight: bold;
    font-size: convertFont(15);
  }
  .prodPrice {
    color: $textGray;
    font-weight: bold;
  }
}
