@import "./function";
@import "./var";
@font-face {
  font-family: Manrope;
  src: url(../fonts/Manrope/static/Manrope-Regular.ttf);
  font-size: 15px;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Manrope, sans-serif;
}
body {
  position: relative;
}
p {
  font-size: 15px;
  line-height: convertFont(25);
}
h1 {
  font-size: convertFont(56);
  line-height: convertFont(58);
  text-transform: uppercase;
}
h2 {
  font-size: convertFont(40);
  line-height: convertFont(44);
  text-transform: uppercase;
}
h3 {
  font-size: convertFont(32);
  line-height: convertFont(36);
  text-transform: uppercase;
}
h4 {
  font-size: convertFont(28);
  line-height: convertFont(38);
  text-transform: uppercase;
}
h5 {
  font-size: convertFont(24);
  line-height: convertFont(33);
  text-transform: uppercase;
}
h6 {
  font-size: convertFont(18);
  line-height: convertFont(24);
  text-transform: uppercase;
}
