@import "../../sass/function";
@import "../../sass/var";

.primary {
  padding: 1rem 2.1rem;
  font-size: convertFont(13);
  font-weight: bold;
  color: white;
  background-color: $primaryOrange;
  border: 0;
  margin: 1rem 0;
  transition: 0.2s;
}
.transparent {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  cursor: pointer;
  padding: 1rem 2.1rem;
  font-size: convertFont(13);
  transition: 0.2s;
}
.transparent:hover {
  background-color: black;
  color: white;
}

.prodCatButton {
  padding: 1rem 2.1rem;
  font-size: convertFont(13);
  font-weight: bold;
  color: white;
  background-color: black;
  border: 0;
  margin: 1rem 0;
  transition: 0.2s;
}
.prodCatButton:hover {
  background-color: $darkGray;
  cursor: pointer;
}
