@import "../../sass/var";
.prodAdContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;

  margin: 24vh 0;
  h2 {
    margin-bottom: 2rem;
    .primaryWord {
      color: $primaryOrange;
    }
  }
  img {
    width: 540px;
  }
  .adDesc {
    width: 40%;
  }
  p {
    color: rgb(0, 0, 0, 50%);
  }
}

.newProd {
  font-size: 14px;
  letter-spacing: 10px;
  text-align: left;
  color: $primaryOrange !important;
}
