@import "../sass/function";
@import "../sass/var";

// Hero Section

.newProd {
  color: rgba(255, 255, 255, 49.64%);
  font-size: 14px;
  letter-spacing: 10px;
}

// Featured Product Section
h4 {
  margin-bottom: 2rem;
}
.featuredProd {
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: convertFont(540);
  background-image: url("../assets/Figma/hero-section/featured_speakerBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .productDesc {
    margin: auto;
    width: 32.5%;
    text-align: left;
    color: #f1f1f1;
    h1 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }

  .cropContainer {
    margin-left: 12%;
    overflow: hidden;
    align-self: flex-end;
    width: 38%;

    .featuredSpeakers {
      width: 95%;

      margin-bottom: -1rem;
    }
  }
}

// Second Ad Section
.secondAd {
  display: flex;
  height: convertFont(330);
  width: 100%;
  background-image: url(../assets/Figma/hero-section/secondAd.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 48px 0;
  border-radius: 8px;
  align-items: center;

  .productDesc {
    margin-left: 8.55%;
  }
}

// third Ad

.thirdAd {
  display: flex;
  align-items: center;
  align-items: stretch;
  img {
    width: 100%;
    display: block;
  }
  .productDesc {
    background-color: #f1f1f1;
  }
}

// responsive

@media only screen and (max-width: 1024px) {
  .featuredProd {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    background-image: url("../assets/Figma/hero-section/featured_speakerBG_tablet.png");
    background-repeat: no-repeat;
    background-position: center;
    .productDesc {
      margin: auto;
      width: 32.5%;
      text-align: center;
      color: #f1f1f1;
      h1 {
        margin-bottom: 1rem;
      }
      p {
        margin-bottom: 1rem;
      }
    }

    .cropContainer {
      margin: auto;
      // overflow: auto;
      align-self: auto;
      width: auto;

      .featuredSpeakers {
        width: 11.5rem;

        margin-bottom: -1rem;
      }
    }
  }
  .secondAd {
    background-image: url(../assets/Figma/hero-section/secondAd_tablet.png);
    margin: 2rem 0;
  }
}

@media only screen and (max-width: 500px) {
  .productDesc {
    width: 80% !important;
  }
  .secondAd {
    margin: 2rem 0;
    background-position: center;
  }
}
