@import "../sass/function";
@import "../sass/var";

// Hero Section




.newProd {
  color: rgba(255, 255, 255, 49.64%);
  font-size: 14px;
  letter-spacing: 10px;
}

// Featured Product Section
h4 {
  margin-bottom: 2rem;
}
.featuredProd {
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: convertFont(540);
  background-image: url("../assets/Figma/hero-section/featured_speakerBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .productDesc {
    margin: auto;
    width: convertFont(330);
  }

  .cropContainer {
    margin-left: 8rem;
    overflow: hidden;
    align-self: flex-end;

    .featuredSpeakers {
      width: convertFont(360);

      margin-bottom: -1rem;
    }
  }
}

// Second Ad Section
.secondAd {
  display: flex;
  height: convertFont(330);
  width: 100%;
  background-image: url(../assets/Figma/hero-section/secondAd.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 48px 0;
  border-radius: 8px;
  align-items: center;

  .productDesc {
    margin-left: 8.55%;
  }
}

// third Ad

.thirdAd {
  display: flex;
  align-items: center;
  align-items: stretch;
  img {
    width: 100%;
    display: block;
  }
  .productDesc {
    background-color: #f1f1f1;
  }
}
