@import "../sass/function";
.content {
  padding: 0 convertFont(165);

  text-align: center;
}
.checkout {
  background-color: #f5f5f5;
}

@media only screen and (max-width: 1024px) {
  .content {
    padding: 0 2.5rem;

    text-align: center;
  }
}

@media only screen and (max-width: 500px) {
  .content {
    padding: 0 1.5rem;

    text-align: center;
  }
}
