.thirdAd {
  display: flex;
  justify-content: space-between;
  img {
    border-radius: 8px;
    width: 50%;
  }
}
.productDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #f1f1f1;
  height: 320px;
  width: 100%;
  margin-left: 2rem;
  border-radius: 8px;
}
.titleButton {
  margin-left: 17.5%;
}

@media only screen and (max-width: 500px) {
  .thirdAd {
    flex-direction: column;
    img {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  .productDesc {
    margin-left: 0;
    .titleButton {
      margin: 0 auto;
    }
  }
}
