@import "../../sass/function";

@import "../../sass/var";
Dropdown {
  display: none !important;
}
.hero {
  display: flex;
  flex-direction: column;
  height: convertFont(729);
  padding: 0 convertFont(165);
  background-position: calc(100% - 8rem);
  background-repeat: no-repeat;
  background-color: #141414;
  background-image: url("../../assets/Figma/hero-section/hero-headphones.png");
  background-size: auto 100%;
}
.headphones {
  position: absolute;
  height: 100%;
  left: 45%;
  z-index: 500;
}

.headphones {
  position: absolute;
  height: 100%;
  left: 45%;
  z-index: 500;
  width: 52.5%;
}
.productContainer {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}
.productDesc {
  text-align: left;
  width: convertFont(346);
  z-index: 1000;

  h1 {
    margin: 1rem 0;
    color: #fff;
  }
  p {
    color: rgba(255, 255, 255, 75%);
    font-size: 15px;
    margin-bottom: 1rem;
  }
}
.secNavContainer {
  padding: 0 convertFont(165);
  background-color: black;

  .headerTitle {
    color: white;
    text-align: center;
    padding: convertFont(100) 0;
    position: relative;
  }
  .relativeDiv {
    position: relative;
  }
}
.secNavheader {
  padding: convertFont(32) 0;
  margin: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(150, 150, 150, 0.2);

  justify-content: space-between;
  color: white;
  z-index: 550;

  .logo {
    display: felx;
    cursor: pointer;
  }
  .secNavLogo {
    display: none;
  }

  .navDropdown {
    display: none;
  }
  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      font-size: convertFont(13);
      margin: 0 convertFont(17);
      a {
        text-decoration: none;
        color: white;
        transition: 0.2s;
      }
      a:hover {
        color: $primaryOrange;
      }
    }
  }
}
.active {
  color: $primaryOrange !important;
}
.cartIcon {
  cursor: pointer;
  font-size: 1.3rem;
  margin-right: 0.5rem;
}
.cartIcon :hover {
  color: $primaryOrange !important;
  transition: 0.2s;
}

.backdrop {
  position: absolute;
  left: 0;
  width: 100%;
  margin-top: 6rem;
  height: calc(100% - 6rem);

  z-index: 1100;
  background: rgba(0, 0, 0, 0.5);
}

// responsive

@media only screen and (max-width: 1024px) {
  .hero {
    height: convertFont(729);
    padding: 0 2.5rem;
    margin-bottom: 5rem;

    background-position: center;

    background-size: auto auto;
  }
  .navDropdown {
    display: block;
  }
  .headphones {
    position: absolute;
    width: 100%;
    left: 0;
    height: auto;
    opacity: 0.5;
    height: 100%;
  }
  .productDesc {
    text-align: center;
    width: convertFont(346);
    z-index: 100;

    h1 {
      margin: 1rem 0;
      color: #fff;
    }
    p {
      color: rgba(255, 255, 255, 75%);
      font-size: 15px;
      margin-bottom: 1rem;
    }
  }
  .productContainer {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .desktopNav {
    display: none;
  }
  .navDropdown {
    display: block !important;
    p {
      color: white !important;
    }
    path {
      color: white;
    }
    button :nth-child(2) {
      display: none !important;
    }
    ::after {
      display: none !important;
    }
    div {
      width: 50vw !important;
      margin-top: 1rem;
      background-color: $primaryOrange !important;
      a {
        color: white !important;
        border-bottom: 1px solid rgba(0, 0, 0, 0.514);
      }
    }
  }
  .ddLogoContainer {
    display: flex;
    align-items: center;
    img {
      height: 100%;
      margin-left: 2rem;
    }
  }

  .secNavContainer {
    padding: 0 2.5rem;
  }
}

@media only screen and (max-width: 500px) {
  .hero {
    height: 40rem;

    background-repeat: no-repeat;
    background-color: #141414;
    background-image: url("../../assets/Figma/hero-section/hero-headphones.png");
    background-size: auto 100%;
    padding: 0 1.5rem;
    position: relative;
  }
  .headerTitle {
    padding: convertFont(50) 0 !important;
  }

  .mobileBackgroundOpacity {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1d1d1d86;
    left: 0;
  }
}
