@import "../../sass/function";
@import "../../sass/var";

h4 {
  text-align: center;
}
.products {
  display: flex;
  justify-content: center;
  .product:nth-child(3) {
    margin-right: 0;
  }
  margin: 3rem 0 convertFont(120) 0;
}

.product {
  //   background-image: url("../../assets/Figma/hero-section/headphones-bg.png");

  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 100%;
  text-align: center;
  margin-right: 2rem;
  padding-bottom: 2rem;

  .prodLink {
    color: rgb(0, 0, 0, 50%);
  }

  img {
    width: 100%;
    margin: auto;
    margin-bottom: 2rem;
  }

  button {
    margin: 2rem auto auto auto;
  }
}

@media only screen and (max-width: 1024px) {
  .products {
    margin: 3rem 0 5rem 0;
  }
}
