@import "../../sass/function";
@import "../../sass/var";
.products {
  display: flex;
  justify-content: center;
  .product:nth-child(3) {
    margin-right: 0;
  }
  margin: convertFont(120) 0;
}

.product {
  background-image: url("../../assets/Figma/hero-section/headphones-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-basis: 100%;
  text-align: center;
  margin-right: 2rem;
  padding-bottom: 2rem;

  .prodLink {
    color: rgb(0, 0, 0, 50%);
  }
  a {
    h6 {
      margin-bottom: 0.8rem;
      color: black;
    }
    margin-top: 0.8rem;
    text-decoration: none;
    font-size: convertFont(13);
    font-weight: bold;
  }
  a:hover {
    .prodLink {
      transition: 0.2s;

      color: $primaryOrange;
    }
  }

  a::after {
    content: "";
    border: solid $primaryOrange;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 0.8rem;
  }

  img {
    width: 61%;
    margin: auto;
  }
}
@media only screen and (max-width: 1024px) {
  .products {
    margin: 4rem 0;
  }
}
